<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/all.min.css">
    <link rel="stylesheet" href="../style/fonts.css">
    <link rel="stylesheet" href="../style/media.css">
    <title>Document</title>
</head>
<body>
    <div class="container ">
        <nav class="nav">
          <a href="../index.html" class="logo__title">restaurant</a>
                    <ul class="list">
                        <li><a href="./location.html" class="nav__link">Location</a></li>
                        <li><a href="../index.html#menu" class="nav__link">Menus</a></li>
                        <li><a href="#!" class="nav__link">Our Story</a></li>
                     
                        <li><a href="./orderOnline.html" class="nav__link">Reservations</a></li>
                 </ul> 
        </nav> 
    <main>
        <div class="about__main">
        <div class="container about__iteam">
            <div class="about__iag" >
                <img src="../image/about__res.jpg" alt="" class="about__imag">
            </div>
           
        
             <p class="about__text">
               ABOUT <br><br>
Located on a then-lonesome little corner under the Williamsburg Bridge in Brooklyn, Diner opened its doors on New Year’s Eve twenty-two years ago. Owners Andrew Tarlow and Mark Firth hosted and bartended and ended most nights with a hand of cards and a pitcher of margaritas. Chef Caroline Fidanza wrote a daily menu committed to local, seasonal, sustainable foods, and built relationships with the farmers in upstate New York and surrounding regions. Kate Huling was server and salad maker, scrawling the menu across table after table, then jumping back behind the line to overdress a salad when duty called.
<br><br>
Diner’s expansive bar, a place to sit and read and eat and watch the world go by is the centerpiece of the room, a 90-year-old Pullman dining car. Warm wood and aged enamel, like being in the belly of a whale or the protected hold of a ship. 
<br><br>
From the outside, Diner might have been mistaken for a modest endeavor. But Diner, open summer, spring, or snowstorm, has become, with the help of all the people, staff as well as guests, who continue to return to it, a room that glows from within. Over twenty years later Diner has carried on the traditions of its early days. A place of occasion. A touchstone for a neighborhood.
<br><br><br><br>


Chef: Abbey de la Rosa
<br><br>
Sous Chefs: Kyle Lowe & Russ Maddux
<br><br>
General Manager: Anna Pickler
<br><br>
Assistant General Manager: Erika Wuhrer
<br><br>
Service Managers: Melissa Allen, Andreas Joseph, Grace Phillips
            </p>
        </div>
    </div>
    </main>
    </div>
    
    <footer class="footer">
        <div class="container footer__iteam">
          <a href="../index.html" class="logo__title footer__logo">restaurant</a>
          
          <a href="#!" class="footer__login">login-in for employees</a>
        </div>
      </footer>
      
      <script src="./style/bootsrap.js"></script>
      <script src="./js/js.js"></script>
   
</body>
</html>