<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/all.min.css">
    <link rel="stylesheet" href="../style/fonts.css">
    <link rel="stylesheet" href="../style/media.css">
    <title>Document</title>
</head>
<body>
    <div class="container ">
        <nav class="nav">
          <a href="../index.html" class="logo__title">restaurant</a>
                    <ul class="list">
                        <li><a href="./location.html" class="nav__link">Location</a></li>
                        <li><a href="../index.html#menu" class="nav__link">Menus</a></li>
                        <li><a href="../pages/about.html" class="nav__link">Our Story</a></li>
                     
                        <li><a href="./orderOnline.html" class="nav__link">Reservations</a></li>
                 </ul> 
        </nav> 
    </div>
        <header>
            <div class="header__palov_bg" style="  background-image: url(../image/dessert__bg.jpeg);"><h1 class="palov__title_bg">Desserts & Sweets</h1></div>
        </header>
    <main>
     <div class="container">
        <div class="palov__iteam">
            <h2 class="palov__nation">- Desserts & Sweets -</h2>
            
            <div class="palov__tabel">
                
            <div class="palov__card">
                <div class="palov__img" style="background-image: url(../image/./choko-cake-sweet.jpg);">                 
                </div>
                <div class="palov__bin">
                    <h3 class="menucard__title">Chocolate Cake</h3>
                    <h4 class="menucard__price">150 000 so`m</h4>
                </div>
            </div>
            
            <div class="palov__card">
                <div class="palov__img" style="background-image: url(../image/chip-cookes-sweet.jfif);">                 
                </div>
                <div class="palov__bin">
                    <h3 class="menucard__title">Chip cookes</h3>
                    <h4 class="menucard__price">32 000 so`m</h4>
                </div>
            </div>
            
            <div class="palov__card">
                <div class="palov__img" style="background-image: url(../image/ice-cream.jpg);">
                </div>
                <div class="palov__bin">
                    <h3 class="menucard__title">Ice cream</h3>
                    <h4 class="menucard__price">18 000 so`m</h4>
                </div>
            </div>
            
            <div class="palov__card">
                <div class="palov__img" style="background-image: url(../image/pidding-sweet.jfif);">                 
                </div>
                <div class="palov__bin">
                    <h3 class="menucard__title">Summer Pudding</h3>
                    <h4 class="menucard__price">70 000 so`m</h4>
                </div>
            </div>
            
            <div class="palov__card">
                <div class="palov__img" style="background-image: url(../image/apple-pie-sweet.jpg);">                 
                </div>
                <div class="palov__bin">
                    <h3 class="menucard__title">Apple Pie</h3>
                    <h4 class="menucard__price">200 000 so`m</h4>
                </div>
            </div>
            
            <div class="palov__card">
                <div class="palov__img" style="background-image: url(../image/pancakes.jpg);">                 
                </div>
                <div class="palov__bin">
                    <h3 class="menucard__title">Pancakes</h3>
                    <h4 class="menucard__price">230 000 so`m</h4>
                </div>
            </div>
            
            <div class="palov__card">
                <div class="palov__img" style="background-image: url(../image/cupcakes_93722_16x9.jpg);">                 
                </div>
                <div class="palov__bin">
                    <h3 class="menucard__title">Cupcakes</h3>
                    <h4 class="menucard__price">35 000 so`m</h4>
                </div>
            </div>
            
            <div class="palov__card">
                <div class="palov__img" style="background-image: url(../image/waffle.jpg);">                 
                </div>
                <div class="palov__bin">
                    <h3 class="menucard__title">Waffle</h3>
                    <h4 class="menucard__price">60 000 so`m</h4>
                </div>
            </div>
            
            
        </div>
            
        </div>
        
     </div>
        
        
    </main>

    
    <footer class="footer">
        <div class="container footer__iteam">
          <a href="../index.html" class="logo__title footer__logo">restaurant</a>
          
          <a href="#!" class="footer__login">login-in for employees</a>
        </div>
      </footer>
      
      
      <script src="./style/bootsrap.js"></script>
      <script src="./js/js.js"></script>
   
</body>
</html>