<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/all.min.css">
    <link rel="stylesheet" href="../style/fonts.css">
    <link rel="stylesheet" href="../style/media.css">
    <title>Document</title>
</head>
<body>
    <div class="container ">
        <nav class="nav">
          <a href="../index.html" class="logo__title">restaurant</a>
                    <ul class="list">
                        <li><a href="#!" class="nav__link">Location</a></li>
                        <li><a href="../index.html#menu" class="nav__link">Menus</a></li>
                        <li><a href="./about.html" class="nav__link">Our Story</a></li>
                    
                        <li><a href="./orderOnline.html" class="nav__link">Reservations</a></li>
                 </ul> 
        </nav> 
    <main>
     
        <div class="location__item">
             <div class="container location__page">
            <div class="location__bin">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d23979.173829430776!2d69.27037014873045!3d41.300232260142245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1659181185840!5m2!1sru!2s" class="location__loc" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 
            </div>
            <div class="location__bin">
                <p class="location__text">
                900 3rd St,<br>
Alpharetta, GA 30009 <br>
(678) 722-8335 <br>
CollettaAtlanta@theindigoroad.com
<br><br>
Monday through Thursday: <br>
5:00 to 10:00 pm <br> 
<br><br>
Friday: <br> 
5:00 to 11:00 pm <br>
<br> <br>
Saturday: <br> 
noon to 11:00 pm <br>
<br> <br>
Sunday: <br> 
5:00 to 9:00 pm <br>
<br><br>
Happy Hour // Monday-Friday 5PM-7PM at the bar <br>
           </p> </div>
        </div>
        </div>
       
        
        
    </main>
    </div>
    
    <footer class="footer">
        <div class="container footer__iteam">
          <a href="../index.html" class="logo__title footer__logo">restaurant</a>
          
          <a href="#!" class="footer__login">login-in for employees</a>
        </div>
      </footer>
      
      <script src="./style/bootsrap.js"></script>
      <script src="./js/js.js"></script>
   
</body>
</html>