<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/mobiscroll.javascript.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/mobiscroll.javascript.min.css">

    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/all.min.css">
    <link rel="stylesheet" href="../style/fonts.css">
    <link rel="stylesheet" href="../style/media.css">
    
    
    <script>
        // Ignore this in your implementation
        window.isMbscDemo = true;
    </script>

   

    <!-- Mobiscroll JS and CSS Includes -->


 

        
    <title>Document</title>
</head>
<body>
    <div class="container ">
        <nav class="nav">
          <a href="../index.html" class="logo__title">restaurant</a>
                    <ul class="list">
                        <li><a href="./location.html" class="nav__link">Location</a></li>
                        <li><a href="../index.html#menu" class="nav__link">Menus</a></li>
                        <li><a href="../pages/about.html" class="nav__link">Our Story</a></li>
                        <li><a href="#!" class="nav__link">Reservations</a></li>
                 </ul> 
        </nav> 
    </div>
  
    <main class="events__main">
        <div class=" container events">
            
            <div class="reserver" >
                <img src="./image/login.jpg" alt="" class="reser__img">
            </div>
            
            <div class="events__iteam">
                <h3 class="events__title">LOG IN</h3>
                <form action="" class="order">
                    
                    <div mbsc-page class="demo-usage-on-input-or-inline date__stile">

                      
                              <input id="demo-one-input" mbsc-input class="date__st" data-input-style="outline" data-label-style="stacked" placeholder="USERNAME" />
                              <input id="demo-one-input" mbsc-input class="date__st" data-input-style="outline" data-label-style="stacked" placeholder="PASSWORD" type="password"/>
                     
                       
                        </div>
                      
                    
    
                        <input type="submit" name="submit" value="LOGIN" class="collect__link">
                </form>
                
            </div>
        </div>
    </main>
    
    
    
    <footer class="footer">
        <div class="container footer__iteam">
          <a href="index.html" class="logo__title footer__logo">restaurant</a>
          
          
        </div>
      </footer>
      <script src="js/mobiscroll.javascript.min.js"></script>
    <script src="../style/bootsrap.js"></script>
    <script src="../js/js.js"></script>
 
</body>
</html>

