<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/mobiscroll.javascript.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/mobiscroll.javascript.min.css">

    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/all.min.css">
    <link rel="stylesheet" href="../style/fonts.css">
    <link rel="stylesheet" href="../style/media.css">
    
    
    <script>
        // Ignore this in your implementation
        window.isMbscDemo = true;
    </script>

   

    <!-- Mobiscroll JS and CSS Includes -->


 

        
    <title>Document</title>
</head>
<body>
    <div class="container ">
        <nav class="nav">
          <a href="../index.html" class="logo__title">restaurant</a>
                    <ul class="list">
                        <li><a href="./location.html" class="nav__link">Location</a></li>
                        <li><a href="../index.html#menu" class="nav__link">Menus</a></li>
                        <li><a href="../pages/about.html" class="nav__link">Our Story</a></li>
                        <li><a href="#!" class="nav__link">Reservations</a></li>
                 </ul> 
        </nav> 
    </div>
  
    <main class="events__main">
        <div class=" container events">
            
            <div class="reserver" >
                <img src="../image/resered__order.jpg" alt="" class="reser__img">
            </div>
            
            <div class="events__iteam">
                <h3 class="events__title">Order Online</h3>
                <form action="" class="order">
                    
                    <select class="form-select input__num" aria-label="Default select example" >
                        <option selected>Number of People</option>
                        <option value="1">1 Person</option>
                        <option value="2">2 People</option>
                        <option value="3">3 People</option>  
                        <option value="3">4 People</option>  
                        <option value="3">5 People</option>  
                        <option value="3">6 People</option>  
                        <option value="3">7 People</option>  
                        <option value="3">8+ People</option>  
                    </select>
                    
                    <div mbsc-page class="demo-usage-on-input-or-inline date__stile">

                      
                              <input id="demo-one-input" mbsc-input class="date__st" data-input-style="outline" data-label-style="stacked" placeholder="Please select..." />
                     
                       
                        </div>
                      
                        <select class="form-select input__numm" aria-label="Default select example" >
                            <option selected class="scroll__time">Time</option>
                            <option value="1">6 : 00 AM</option>
                            <option value="2">6 : 30 AM</option>
                            <option value="3">7 : 00 AM</option>  
                            <option value="3">7 : 30 AM</option>  
                            <option value="3">8 : 00 AM</option>  
                            <option value="3">8 : 30 AM</option>  
                            <option value="3">9 : 00 AM</option>  
                            <option value="3">9 : 30 AM</option>  
                            <option value="3">10 : 00 AM</option>  
                            <option value="3">11 : 30 AM</option>  
                            <option value="3">12 : 00 AM</option>  
                            <option value="3">1 : 00 PM</option>  
                            <option value="3">1 : 30 PM</option>  
                            <option value="3">2 : 00 PM</option>  
                            <option value="3">2 : 30 PM</option>  
                            <option value="3">3 : 00 PM</option>  
                            <option value="3">3 : 30 PM</option>  
                            <option value="3">4 : 00 PM</option>  
                            <option value="3">4 : 30 PM</option>  
                            <option value="3">5 : 00 PM</option>  
                            <option value="3">5 : 30 PM</option>  
                            <option value="3">6 : 00 PM</option>  
                            <option value="3">6 : 30 PM</option>  
                            <option value="3">7 : 00 PM</option>  
                            <option value="3">7 : 30 PM</option>  
                            <option value="3">8 : 00 PM</option>  
                            <option value="3">8 : 30 PM</option>  
                            <option value="3">9 : 00 PM</option>  
                            <option value="3">9 : 30 PM</option>  
                       
                        </select>
                        
                        <input type="submit" name="submit" value="SEND" class="collect__link">
                </form>
                
            </div>
        </div>
    </main>
    
    
    
    <footer class="footer">
        <div class="container footer__iteam">
          <a href="#!" class="logo__title footer__logo">restaurant</a>
          
          <a href="#!" class="footer__login">login-in for employees</a>
        </div>
      </footer>
      <script src="js/mobiscroll.javascript.min.js"></script>
    <script src="../style/bootsrap.js"></script>
    <script src="../js/js.js"></script>
 
</body>
</html>